.login-container {
    width: 300px;
    margin-top: 90px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-label{
    font-family: 'Roboto Condensed', sans-serif;
}
h2 {
    text-align: center;
    color: #333;
}
input[type="email"], input[type="password"],input[type="text"]  {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.alert {
    background-color: #ff7676;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 0;
}
.invalid-container{
    height: 50px;

}